@charset "UTF-8";
/*!
 * Marp / Marpit Uncover theme
 * Modified by Roberto Esposito
 *
 * @theme uncover-bb
 * @author Yuki Hattori, Roberto Esposito
 *
 * @auto-scaling true
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 */
section {
  background: var(--color-background);
  background-image: url("./assets/logo.png");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: 1080px 0px;
  color: var(--color-foreground);
  display: flex;
  flex-flow: column nowrap;
  font-family: "Red Hat Display", "BM Hanna Air", Palatino, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  height: 720px;
  justify-content: center;
  line-height: 1.4;
  padding: 30px 70px;
  position: relative;
  text-align: center;
  width: 1280px;
  word-wrap: break-word;
  z-index: 0;
}
section::after {
  align-items: flex-end;
  background-size: cover;
  color: var(--color-foreground);
  display: flex;
  font-size: 0.6em;
  height: 80px;
  justify-content: flex-end;
  padding: 30px;
  text-align: right;
  text-shadow: 0 0 5px var(--color-background);
  width: 80px;
}
section {
  --color-background: #fdfcff;
  --color-background-code: rgb(241.95, 241.1, 244.25);
  --color-background-paginate: rgba(32, 34, 40, 0.05);
  --color-foreground: #202228;
  --color-highlight: #009dd5;
  --color-link: #009dd5;
  --color-highlight-hover: rgb(8, 126.25, 169.75);
  --color-highlight-heading: rgb(51, 176.6, 221.4);
  --color-header: rgba(32, 34, 40, 0.4);
  --color-header-shadow: rgba(253, 252, 255, 0.8);
  --color-strong: red;
  --color-markers: red;
  --color-quotes: red;
  --color-quotes-background: rgba(255, 0, 0, 0.07);
  --color-box-background: rgb(234, 243, 255);
}
section:where(:not(.invert)) {
  /*

  Colorbrewer theme
  Original: https://github.com/mbostock/colorbrewer-theme (c) Mike Bostock <mike@ocks.org>
  Ported by Fabrício Tavares de Oliveira

  */
}
section:where(:not(.invert)) .hljs {
  color: #000;
  background: #fff;
}
section:where(:not(.invert)) .hljs-subst {
  /* default */
}
section:where(:not(.invert)) .hljs-string,
section:where(:not(.invert)) .hljs-meta,
section:where(:not(.invert)) .hljs-symbol,
section:where(:not(.invert)) .hljs-template-tag,
section:where(:not(.invert)) .hljs-template-variable,
section:where(:not(.invert)) .hljs-addition {
  color: #756bb1;
}
section:where(:not(.invert)) .hljs-comment,
section:where(:not(.invert)) .hljs-quote {
  color: green;
  font-style: italic;
}
section:where(:not(.invert)) .hljs-number,
section:where(:not(.invert)) .hljs-regexp,
section:where(:not(.invert)) .hljs-literal,
section:where(:not(.invert)) .hljs-bullet,
section:where(:not(.invert)) .hljs-link {
  color: #31a354;
}
section:where(:not(.invert)) .hljs-deletion,
section:where(:not(.invert)) .hljs-variable {
  color: #88f;
}
section:where(:not(.invert)) .hljs-keyword {
  font-weight: bold;
  color: red;
}
section:where(:not(.invert)) .hljs-title {
  color: rgb(66, 148, 247);
}
section:where(:not(.invert)) .hljs-name,
section:where(:not(.invert)) .hljs-selector-tag,
section:where(:not(.invert)) .hljs-section,
section:where(:not(.invert)) .hljs-built_in,
section:where(:not(.invert)) .hljs-doctag,
section:where(:not(.invert)) .hljs-type,
section:where(:not(.invert)) .hljs-tag,
section:where(:not(.invert)) .hljs-selector-id,
section:where(:not(.invert)) .hljs-selector-class,
section:where(:not(.invert)) .hljs-strong {
  color: --color-strong;
}
section:where(:not(.invert)) .hljs-emphasis {
  font-style: italic;
}
section:where(:not(.invert)) .hljs-attribute {
  color: #e6550d;
}
section:where(.invert) {
  --color-background: #202228;
  --color-background-code: rgb(43.15, 45.05, 50.75);
  --color-background-paginate: rgba(255, 255, 255, 0.05);
  --color-foreground: #fff;
  --color-highlight: #60d0f0;
  --color-link: #60d0f0;
  --color-highlight-hover: rgb(135.75, 219.75, 243.75);
  --color-highlight-heading: rgb(127.8, 217.4, 243);
  --color-header: rgba(255, 255, 255, 0.4);
  --color-header-shadow: rgba(32, 34, 40, 0.8);
  --color-strong: red;
  --color-markers: red;
  --color-quotes: red;
  --color-quotes-background: rgba(255, 0, 0, 0.07);
  --color-box-background: rgb(234, 243, 255);
  /*
    codepen.io Embed Theme
    Author: Justin Perry <http://github.com/ourmaninamsterdam>
    Original theme - https://github.com/chriskempson/tomorrow-theme
  */
}
section:where(.invert) .hljs {
  background: #222;
  color: #fff;
}
section:where(.invert) .hljs-comment,
section:where(.invert) .hljs-quote {
  color: #777;
}
section:where(.invert) .hljs-variable,
section:where(.invert) .hljs-template-variable,
section:where(.invert) .hljs-tag,
section:where(.invert) .hljs-regexp,
section:where(.invert) .hljs-meta,
section:where(.invert) .hljs-number,
section:where(.invert) .hljs-built_in,
section:where(.invert) .hljs-literal,
section:where(.invert) .hljs-params,
section:where(.invert) .hljs-symbol,
section:where(.invert) .hljs-bullet,
section:where(.invert) .hljs-link,
section:where(.invert) .hljs-deletion {
  color: #ab875d;
}
section:where(.invert) .hljs-section,
section:where(.invert) .hljs-title,
section:where(.invert) .hljs-name,
section:where(.invert) .hljs-selector-id,
section:where(.invert) .hljs-selector-class,
section:where(.invert) .hljs-type,
section:where(.invert) .hljs-attribute {
  color: #9b869b;
}
section:where(.invert) .hljs-string,
section:where(.invert) .hljs-keyword,
section:where(.invert) .hljs-selector-tag,
section:where(.invert) .hljs-addition {
  color: #8f9c6c;
}
section:where(.invert) .hljs-emphasis {
  font-style: italic;
}
section:where(.invert) .hljs-strong {
  font-weight: bold;
}
section > *:first-child, section[data-header] > :nth-child(2) {
  margin-top: 0;
}
section > *:last-child, section[data-footer] > :nth-last-child(2) {
  margin-bottom: 0;
}
section p,
section blockquote {
  margin: 0 0 15px;
}
section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
  margin: 15px 0 30px;
  font-family: "Red Hat Display", "EB Garamond", Palatino, "CMU Classical Serif", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  font-style: italic;
}
section h1 strong,
section h2 strong,
section h3 strong,
section h4 strong,
section h5 strong,
section h6 strong {
  color: var(--color-strong);
  font-weight: lighter;
}
section h1::part(auto-scaling),
section h2::part(auto-scaling),
section h3::part(auto-scaling),
section h4::part(auto-scaling),
section h5::part(auto-scaling),
section h6::part(auto-scaling) {
  max-height: 660px;
}
section h1 {
  font-size: 2em;
}
section h2 {
  font-size: 1.7em;
}
section h3 {
  font-size: 1.4em;
  letter-spacing: 2px;
}
section h4 {
  font-size: 1.2em;
  letter-spacing: 2px;
}
section h5 {
  font-size: 1em;
  letter-spacing: 1px;
}
section h6 {
  font-size: 0.8em;
  letter-spacing: 1px;
}
section header,
section footer {
  color: var(--color-header);
  font-size: 0.45em;
  left: 70px;
  letter-spacing: 1px;
  position: absolute;
  right: 70px;
  text-shadow: 0 1px 0 var(--color-header-shadow);
  z-index: 1;
}
section header {
  top: 30px;
}
section footer {
  bottom: 30px;
}
section a {
  color: var(--color-link);
  text-decoration: underline;
}
section a:hover {
  color: var(--color-highlight-hover);
  text-decoration: underline;
}
section ul,
section ol {
  text-align: left;
}
section > ul,
section > ol {
  margin-bottom: 15px;
}
section code {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  letter-spacing: 0;
}
section > code,
section *:not(pre) > code {
  background: var(--color-background-code);
  color: var(--color-foreground);
  margin: -0.2em 0.2em 0.2em;
  padding: 0.2em;
}
section pre {
  --preserve-aspect-ratio: xMidYMid meet;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
  font-size: 70%;
  line-height: 1.15;
  margin: 15px 0 30px;
  text-align: left;
}
section pre::part(auto-scaling) {
  max-height: 570px;
}
section pre > code {
  background: var(--color-background-code);
  box-sizing: content-box;
  color: var(--color-foreground);
  display: block;
  margin: 0 auto;
  min-width: 456px;
  padding: 0.4em 0.6em;
}
section[data-size="4:3"] pre > code {
  min-width: 328px;
}
section .largefont table {
  font-size: 1.5em;
}
section .normfont table {
  font-size: 1.2em;
}
section table {
  border-collapse: collapse;
  margin: 0 auto 15px;
}
section table > thead > tr > td,
section table > thead > tr > th,
section table > tbody > tr > td,
section table > tbody > tr > th {
  padding: 0.15em 0.5em;
}
section table > thead > tr > td,
section table > thead > tr > th {
  border-bottom: 3px solid currentcolor;
}
section table > tbody > tr:not(:last-child) > td,
section table > tbody > tr:not(:last-child) > th {
  border-bottom: 1px solid currentcolor;
}
section blockquote {
  line-height: 1.3;
  padding: 0 2em;
  position: relative;
  z-index: 0;
}
section blockquote::before, section blockquote::after {
  content: url("./assets/uncover-quote.svg");
  height: auto;
  pointer-events: none;
  position: absolute;
  width: 1em;
  z-index: -1;
}
section blockquote::before {
  left: 0;
  top: 0;
}
section blockquote::after {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}
section blockquote > *:last-child {
  margin-bottom: 0;
}
section mark {
  color: var(--color-highlight);
  background: transparent;
}

:root {
  font-size: 28px;
  text-align: left;
}

table {
  font-size: 20px;
}

.small-text {
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  gap: 0px 20px;
  grid-template-areas: "header header" "column1 column2";
}

.grid-1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content 1fr;
  gap: 0px 20px;
  grid-template-areas: "header header" "column1 column2";
}

.header {
  grid-area: header;
}

.column1 {
  grid-area: column1;
}

.column2 {
  grid-area: column2;
}

blockquote, div.important {
  border-left: 5px solid var(--color-quotes);
  border-right: 5px solid var(--color-quotes);
  padding: 10px;
  font-style: italic;
  border-radius: 10px;
}

blockquote::before {
  content: "“";
  font-size: 4em;
  position: absolute;
  top: -0.4em;
  left: -0.6em;
  padding-bottom: 0px;
  color: var(--color-quotes);
}

.footnote {
  border-top: 0.1em dashed #555;
  font-size: 60%;
  margin-top: auto;
}

ul {
  position: relative;
  left: 20px;
  margin-top: 0.6em;
  margin-bottom: 1em;
}

ul li::marker {
  color: var(--color-markers);
}

ol li::marker {
  color: var(--color-markers);
}

strong {
  color: var(--color-strong);
}

.negative, neg {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-align: center;
  color: white;
  background-color: rgb(255, 126, 121);
  border-radius: 50%;
}

.positive, pos {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-align: center;
  color: white;
  background-color: rgb(0, 150, 255);
  border-radius: 50%;
}

chk:after {
  color: green;
  content: "✓";
  font-weight: bold;
}

crs:after {
  color: red;
  content: "✗";
  font-weight: bold;
}

/* References */
div.ref {
  font-size: 70%;
  text-align: left;
  position: absolute;
  bottom: 10px;
  padding-left: 1em;
  text-indent: -0.7em;
}

span.label, spanlabel, ref.label, reflabel {
  font-weight: bold;
  vertical-align: super;
  color: red;
}
span.label::after, spanlabel::after, ref.label::after, reflabel::after {
  color: black;
  content: ":";
}
span.author, spanauthor, ref.author, refauthor {
  font-style: italic;
}
span.author::after, spanauthor.after, ref.author::after, refauthor.after {
  content: ",";
}
span.title, spantitle, ref.title, reftitle {
  font-weight: bold;
}
span.title::after, spantitle::after span.year::after, spanyear::after, ref.title::after, spantitle::after ref.year::after, refyear::after, reftitle::after span.year::after, reftitle::after ref.year::after {
  content: ".";
}
span.noteref, span noteref, ref.noteref, ref noteref {
  color: red;
  vertical-align: super;
  font-size: 70%;
}
span.editor::after, spaneditor::after, ref.editor::after, refeditor::after {
  content: ",";
}

.quoteref,
qref {
  display: block;
  text-align: right;
  font-size: large;
}

.button {
  border: 4px solid rgb(251, 119, 119);
  background-color: rgb(251, 119, 119);
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 0px;
  text-align: center;
}
.button a {
  color: white;
}

.boxed, box {
  border: 1px dashed black;
  border-radius: 5px;
  background-color: var(--color-box-background);
  padding-left: 8px;
  padding-right: 8px;
}

.note {
  border: 3px solid black;
  border-radius: 10px;
  padding: 0px;
  background-color: rgba(0, 149, 255, 0.1);
  margin-bottom: 0.5em;
}

.note blockquote {
  background: none;
  border: none;
}
.note blockquote a {
  color: #00638e;
}

.note blockquote::before {
  content: "";
}

.note h1 {
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
  display: block;
  padding: 10px;
  margin: 0;
  color: black;
  background-color: rgba(0, 149, 255, 0.4);
}

div.rule {
  border-top: 1px dashed black;
  margin-top: 1em;
  margin-bottom: 1em;
}

section.digression {
  background-image: url("./assets/logo-digression.png");
  background-color: var(--color-box-background);
  border: 1px solid #47F;
  border-radius: 10px;
}
section.digression strong {
  color: red;
}
section.digression h2 strong {
  color: #03A;
  font-weight: lighter;
}

section.digression blockquote::before {
  content: "“";
  font-size: 4em;
  position: absolute;
  top: -0.4em;
  left: -0.6em;
  padding-bottom: 0px;
  color: #47F;
}

section.digression blockquote {
  border-left: 5px solid #47F;
  border-right: 5px solid #47F;
}

section.topic {
  background-color: #333;
  color: white;
  background-image: none;
  opacity: 1;
}
section.topic h1 {
  color: orange;
}
section.topic strong {
  color: orange;
}
section.topic ul ul li {
  display: flex;
  align-items: top;
  padding: 0.5rem;
}
section.topic ul ul li::before {
  content: "▶";
  width: 1rem;
  height: 1rem;
  font-size: 10pt;
  margin-top: 0.4rem;
  color: orange;
}
section.topic ul li::marker {
  color: orange;
}
section.topic .ref .label, section.topic .ref label {
  color: orange;
  vertical-align: super;
}

section.topic::after {
  color: white;
}

img[alt~=center] {
  display: block;
  margin: 0 auto;
}
